<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>GalaxyTasks</title>
        <link rel="stylesheet" href="accueil.css">
    </head>
    <body>
        <div class="conteneur">
            <header>
                <div class="app_name">
                    <h1>GalaxyTasks</h1>
                </div>
                <div class="nav">
                    <a href="#">Solution</a>
                    <a href="#">A propos</a>
                    <a href="#">FAQ</a>
                    <a class="my_account" href="#">Mon compte</a>
                </div>
            </header>
            <section>
                <div class="comment">
                    <h1>
                        La <span class="highlight_platform"> meilleure plateforme</span>
                        de gestion de tâches collaborative
                    </h1>
                    <p>
                        Découvrez GalaxyTasks : la plateforme collaborative et moderne qui
                        vous permet de gérer et structurer vos tâches de manière efficiente.
                    </p>
                    <div class="options">
                        <button class="register_login"> Nous rejoindre </button>
                        <a href="#"> En savoir plus </a>
                    </div>
                </div>
                <aside></aside>
            </section>

        </div>
    </body>
</html>