html {
    height: 100%;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Mode clair */
html.light {
  --bg-color: linear-gradient(90deg, #ffffff, #0097b2, #0097b2);
  --bg-color-secondary: white;
  --bg-button: linear-gradient(135deg,  #ffffff, #0097b2, #0097b2);
  --bg-button-secondary:  #0097b2;
  --bg-color-hover: rgba(0,0,0,0.1);
  --box-shadow : 0 0 20px rgba(0, 0, 0, 0.4);
  --text-color: #12292e;
  --text-color-secondary: #4b4b4b;
  --text-color-third: #0097b2;
  --border : 1px solid #12292e;
  --border-color : #12292e;
}

/* Mode sombre */
html.dark {
  --bg-color: linear-gradient(135deg, #12292e, #000000);
  --bg-color-secondary: black;
  --bg-button: linear-gradient(135deg, #0097b2, #000000);
  --bg-button-secondary: #12292e;
  --bg-color-hover: rgba(255,255,255,0.1);
  --box-shadow : 0 0 20px rgba(0, 0, 0, 0.4);
  --text-color: #0097b2;
  --text-color-secondary: #ababab;
  --text-color-third: #0097b2;
  --border : 1px solid #0097b2;
  --border-color : #0097b2;
}

html.dark .theme-icon{
  transform: rotate(180deg);
}

.conteneur{
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 ;
  font-family: 'Caviar-Regular', Arial, sans-serif;
 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}